@import url(https://fonts.google.com/specimen/Nunito+Sans);


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background-el: hsl(0, 0%, 98%);
}
body{
    background-color:var(--background-el);
    color: hsl(200, 15%, 8%);
    font-family: "Nunito Sans",sans-serif;
    margin: 0;
}
body.dark{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 98%);
    --background-el: hsl(209, 23%, 22%);
}

header{
    background-color: var(--background-el);
    --background: hsl(209, 23%, 22%);
}
img{
    width: 100%;
}
.container  {
    /* --background-el: hsl(0, 0%, 98%); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    padding: 24px;
}
h1{
    margin:0

}
.btn-toggle {
    --background: hsl(209, 23%, 22%);
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
}
  .btn-toggle .fas{
    display: none;
}

body.dark .btn-toggle .fas {
    display: inline-block;
}
body.dark .btn-toggle .far {
    display: none;
}
.search {
    --background: hsl(209, 23%, 22%);
    padding: 25px;
    color: inherit;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 100%) ;
    min-width: 240px; 
}
.dropdown {
    padding: 25px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}
.fa-chevron-down{
    margin-left: 10px;
}
.dropdown ul {
    --background: hsl(209, 23%, 22%);
    border-radius: 4px;
    padding: 20px;
    color: inherit;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type:  none;
    width: 100%;
}
.dropdown.open ul{
    display: block;
}
.dropdown ul li {
    margin: 10px 0;
    color: inherit;
}
.card {

    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
    max-width: 300px;
    margin: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    height: auto;
}
.card-body {
    padding: 30px;
} 
.card-body h2 {
    margin-top: 0;
}
.container .countries{
    justify-content: center;
}
